<div class="gridRow">
    {{#each this}}
    <div class="gridRow gridRow-col gridRow-col_size1of3">
        {{#each this}}
        <div class="jsToggleItem">
            <div class="panel panel_inverse">
                <div class="feature feature_condensed feature_grid">
                    {{#if the_first_image}}
                    <div class="feature-img feature-img_alt">
                        <a href="{{the_permalink}}">
                            <img src="{{the_first_image}}" alt="" />
                        </a>
                    </div>
                    {{/if}}
                    <div class="feature-hd">
                        <h3 class="hdg hdg_4">
                            <a href="{{the_permalink}}">{{the_month_number}}/{{the_day}}/{{the_year}} {{{the_title}}}</a>
                        </h3>
                    </div>
                    <div class="feature-bd">
                        <div class="user-content">
                            {{{the_content}}}
                        </div>
                    </div>
                    <div class="feature-meta feature-meta_grid">
                        <ul class="blocks blocks_3up">
                            <li><a href="http://www.facebook.com/sharer.php?u={{the_permalink}}" class="btn" rel="external">Share on Facebook<i class="icn icn_facebook"></i></a></li>
                            <li><a href="http://twitter.com/share?url={{the_permalink}}" class="btn" rel="external">Tweet it<i class="icn icn_twitter"></i></a></li>
                            <li><a href="http://pinterest.com/pin/create/button/?media={{the_first_image}}&amp;url={{the_permalink}}" class="btn">Pin it<i class="icn icn_pin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>