<div class="panel panel_inverse">
    <div class="gridRow">
        {{#each this}}
        <div class="gridRow gridRow-col gridRow-col_size1of3">
            {{#each this}}
            <div class="jsToggleItem">
                <div class="box box_slim box_push">
                    <div class="feature feature_condensed feature_post">
                        {{#if the_first_image}}
                        <div class="feature-img feature-img_alt">
                            <a href="{{the_permalink}}">
                                <img src="{{the_first_image}}" alt="" />
                            </a>
                        </div>
                        {{/if}}
                        <div class="feature-hd feature-hd_condensed_sm">
                            <h3 class="hdg hdg_4">
                                <a href="{{the_permalink}}">
                                    <span class="ribbon">
                                        <span class="ribbon-bd ribbon-bd_alt">
                                            <span class="ribbon-bd-inner">
                                                <span class="date">
                                                    {{the_month_number}}/{{the_day}}/{{the_short_year}}
                                                </span>
                                            </span>
                                        </span>
                                        <span class="ribbon-buddy">
                                            {{{the_title}}}
                                        </span>
                                    </span>
                                </a>
                            </h3>
                        </div>
                        <div class="feature-bd">
                            <div class="user-content">
                                {{{the_excerpt}}}
                                <a href="{{the_permalink}}">Read More</a>
                            </div>
                        </div>
                        <div class="feature-meta feature-meta_grid">
                            <div class="socialFooter">
                                <p class="socialFooter-comments"><a href="{{the_permalink}}">Comments ({{num_comments}})</a></p>
                                <ul class="socialFooter-links">
                                    <li><a href="http://www.facebook.com/sharer.php?u={{the_permalink}}" class="btn" rel="external">Share on Facebook<i class="icn icn_facebook"></i></a></li>
                                    <li><a href="http://twitter.com/share?url={{the_permalink}}" class="btn" rel="external">Tweet it<i class="icn icn_twitter"></i></a></li>
                                    <li><a href="http://pinterest.com/pin/create/button/?media={{the_first_image}}&amp;url={{the_permalink}}" class="btn">Pin it<i class="icn icn_pin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>